.slider {
  background: #fff;
  padding-bottom: 8px;
  .carousel{
    ul{
      display: flex;
      flex-wrap: wrap;
      a{
        display: flex;
        width: 20%;
      }
      li{
        width: 100%;
        i{font-size: 20px;color:#e9203d;margin: 0 auto;}
        flex-direction: column;
        line-height: 25px;
        text-align: center;
        padding: 10px 0;
        span{
          width: 100%;
          font-size: 15px;
          display: block;
          text-align: center;
          color: #666;
        }
      }
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    li{
      width: 5px;
      height: 5px;
      border-radius: 50px;
      background: #555;
      margin: 5px;
    }
    li.active{
      background: red;
    }
  }
}
